// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Gelasio:700|Open+Sans:400,600&display=swap');

// FONTS
$gelasio: 'Gelasio', serif;
$open_sans: 'Open Sans', sans-serif;

// COLORS
$purple: #B998FF;
$yellow: #FFD853;
$blue: #559AFF;
$red: #FF6060;
$green: #47DD85;
$orange: #FFA05F;
$teal: #2AEE06;
$blue_purple: #7093FF;
$black: #02241F;
$white: #FFFCF0;

// Responsiveness
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

/* MIXINS - Mobile-first Approach */
@mixin sm {
	@media (min-width: #{$screen-sm-min}) {
		@content;
	}
}
@mixin md {
	@media (min-width: #{$screen-md-min}) {
		@content;
	}
}
@mixin lg {
	@media (min-width: #{$screen-lg-min}) {
		@content;
	}
}
@mixin xl {
	@media (min-width: #{$screen-xl-min}) {
		@content;
	}
}

html,
body {
    max-width: 720px;
    color: $black;
    padding: 0px 20px;
    margin: 0px auto;
    box-sizing: border-box;
    outline: 0;
    height: 100%;
    font-family: $open_sans;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $gelasio;
}

ul, li {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: $black;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

    &:hover {
        color: $red;
        border-radius: 4px;
        border-bottom: 4px solid $red;
    }
}

.container {
    margin: 30px auto 60px;
}

// Navbar
.navbar {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 14px 0px;
    border-bottom: 1px solid $yellow;

    &_left {
        h1 {
            margin: 0px;
        }
        a {
            font-size: 26px;
            font-family: $gelasio;
    
            @include sm {
                font-size: 36px;
            }
    
            &:hover {
                border-radius: none;
                border-bottom: none;
            }
        }
    }
    &_right {
        a {
            font-size: 12px;
            margin-left: 8px;
            margin-right: 8px;
            font-weight: 600;
            line-height: 0.7;
            letter-spacing: .1em;
            opacity: 1;
            text-transform: uppercase;

            @include sm {
                font-size: 14px;
            }
        }
    }

}

// Home
.home {
    div:first-of-type {
        margin-bottom: 20px;

        @include sm {
            margin-bottom: 40px;
        }
    }

    a {
        color: $red;
    }

    &_photos {
        h2 {
            span {
                color: $blue;
                font-size: 12px;
                font-weight: 400;
            }
        }
        img {
            width: 100px;
            height: 100px;
            border: 1px solid $black;
            border-radius: 8px;
            margin-right: 5px;
        }
    }
}

// Now
.now {
    padding-bottom: 50px;

    &_section {
        h1 {
            font-size: 24px;
        }
        h3 {
            font-size: 20px;
        }
        a {
            color: $red;

            &:hover {
                border-radius: 4px;
                border-bottom: 4px solid $red;
            }
        }
        &:last-of-type {
            margin-top: 40px;
        }

        &.reads {
            display: block;

            @include sm {
                display: flex;
                flex: 1 1;
            }
        }
        &_reads {
            @include sm {
                flex: 1;
            }
            ul {
                li {
                    list-style-type: none;
                }
            }
        }
        &:last-of-type {
            font-size: 14px;
        }
    }
}

// Readings

.reads {
    &_current {
        
    }

    &_past {

    }

    &_book {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-start;
        padding: 1rem 0;
        border-top: 1px solid #717171;
        font-size: 0.8rem;
    }

    &_cover {
        flex: 0.2;
        align-self: auto;

        img {
            display: inline;
            margin: 0;
            max-width: 80px;
        }
    }

    &_metadata {
        flex: 0.8;
        align-self: auto;

        h3 {
            font-size: 0.9rem;
            margin-top: 0;
        }
        p {
            margin: 0.5rem 0;
        }
    }
}
