// FONTS
$gelasio: 'Gelasio', serif;
$open_sans: 'Open Sans', sans-serif;

// COLORS
$purple: #B998FF;
$yellow: #FFD853;
$blue: #559AFF;
$red: #FF6060;
$green: #47DD85;
$orange: #FFA05F;
$teal: #2AEE06;
$blue_purple: #7093FF;
$black: #02241F;
$white: #FFFCF0;

html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $open_sans;
    color: $black;
}